body {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: beige;
}

h1{
    text-decoration: underline;
}

h3{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid rgb(233, 234, 238);
    padding: 7px 12px;
    border: none;
    border-radius: 12px;
    background-color: rgb(249, 252, 255);
}

.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50vw;
    padding: 20px 8px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: rgb(216, 214, 213);
    box-shadow: inset 1px 1px 20px 0px rgb(187, 187, 187);
}

.span{
    margin-left: 4px;
}

.close-btn{
    box-sizing: border-box;
    border: 2px solid red;
    padding: 2px 3px;
    color: white;
    background: red;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.5s;
}

.close-btn:hover{
    transition: 0.4s;
    box-shadow: 2px 3px 2px 1px #532e2e;;
}

.btn{
    margin-top: 20px;
    padding: 18px 25px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #1c1c1ae0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.btn:hover{
    box-shadow: 5px 6px 7px 1px rgba(145, 143, 143, 0.81);
    transition: 0.5s;
}